form {
  display: flex;
  border-radius: 4px;
  background-color: purple;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
}

chat-input {
  margin: 20px auto 10px;
}

[name="use-seed"] {
  vertical-align: middle;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 43px 0 0;
  text-align: left;
  width: 80%;

  .error {
    height: 50px;
    font-size: 0.8em;
    opacity: 0.9;
    display: block;
    text-align: center;
  }
}

chat-button {
  margin-bottom: 10px;
  font-size: 0.9em;
}