<form [formGroup]="form" (submit)="onSubmit()">
  <h3>Create room</h3>
  <fieldset>
    <label><input type="checkbox" formControlName="useSeed"> Use custom name</label>
    <chat-input placeholder="Custom name" formControlName="seed"></chat-input>
    <span class="error" *ngIf="form.get('seed').hasError('minlength')">
      Name length must be at least 8 characters
    </span>
    <span class="error" *ngIf="!form.get('seed').hasError('minlength') && form.get('seed').hasError('pattern')">
      Name can only include unaccented alphabet, numbers and + and - characters
    </span>
    <span class="error" *ngIf="form.valid || form.get('seed').hasError('required')"></span>
  </fieldset>
  <chat-button [disabled]="!form.valid">Create</chat-button>
</form>
