<h1>Welcome to the Babylon</h1>
<section class="flex-center">
<div class="aspect-ratio">
  <div class="nick">
    <chat-input type="text"
     placeholder="Your nickname..."
     [formControl]="nickname"
     maxlength="25" (keydown.enter)="nickname.valid ? onSubmit() : null"></chat-input>
    <span class="error" *ngIf="nickname.hasError('minlength')">
      Nickname must be at least 3 characters long
    </span>
    <span class="error" *ngIf="!nickname.hasError('minlength') && nickname.hasError('pattern')">
      Nickname must not include whitespace, brackets, # and . characters
    </span>
    <span class="error" *ngIf="nickname.valid || nickname.hasError('required')"></span>
    <chat-button type="link"
     [disabled]="!nickname.valid" (click)="onSubmit()">Enter</chat-button>
  </div>
</div>
</section>