:host {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;

  ::ng-deep .pixel {
    position: absolute;
    animation: changeColor 40s linear infinite;
    height: 4px;
    width: 4px;
    display: block;
  }

  h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
}

.flex-center {
  max-width: 100%;
  width: 350px;
  margin: auto;
  z-index: 1;

  .aspect-ratio {
    border-radius: 50%;
    background-color: purple;
    margin: auto;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 100%;
    animation: changeColor 40s linear infinite;

    .nick {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 20px 0;
      align-items: center;
    
      chat-input {
        width: 70%;
        margin-top: 70px;
        font-size: 1.2em;
      }

      .error {
        height: 30px;
        font-size: 0.8em;
        opacity: 0.9;
        text-align: center;
        max-width: 80%;
      }
    }
  }
}

h1 {
  margin-bottom: 50px;
}