@import '../dialog-styles';

:host {
  max-width: 350px;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
chat-input {
  width: 80%;
  margin: 0 auto 20px;
}
chat-button {
  margin-right: 10%;
}