<h1>Passphrase required</h1>
<form [formGroup]="passphraseForm" (ngSubmit)="onSubmit()" >
  <chat-input placeholder="Passphrase" formControlName="passphrase" type="password"></chat-input>
  <button (click)="onClose()" type="button">Cancel</button>
  <chat-button [disabled]="!passphraseForm.valid">
    Send
  </chat-button>
</form>
