$breakpoint: 565px;

:host {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  max-width: 800px;

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: $breakpoint) {
    display: block;
    height: auto;

    h1 {
      position: static;
    }
  }
}

chat-create-room, chat-join-room {
  height: 320px;
  width: 260px;

  @media screen and (max-width: $breakpoint) {
    display: block;
    margin: 15px auto;
    height: 300px;
  }
}