:host {
  display: block;
  height: 100%;
  position: relative;
}

button {
  display: flex;
  height: 100%;
  padding: 0 8px;
  font-size: 22px;
  align-items: center;
  color: var(--ivory);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: radial-gradient(ellipse, rgba(255, 255, 255, 0.6) 0%, transparent 70%);
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: center;

  &:hover, &:focus {
    background-size: 100% 100%;
    outline: none;
  }
}

.menu {
  position: absolute;
  bottom: 15px;
  left: 13px;
  z-index: 2;
  width: 180px;
  box-shadow: 0 0 4px #000000a8;
  background-color: white;
  text-align: left;
  outline: none;
}

.alert {
  --size: 12px;
  display: inline-block;
  text-align: center;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  color: white;
  background-color: rgb(185, 0, 0);
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 50%;
  font-size: 10px;
}