<button (click)="showMenu ? showMenu = false : openMenu()">
  <fa-icon icon="ellipsis-v"></fa-icon>
  <span class="alert" *ngIf="showAlert">!</span>
</button>

<div class="menu" *ngIf="showMenu" #menu @dropdown>
  <ng-content></ng-content>
</div>
