.container {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-left: 4px solid;
  padding: 5px 10px 5px 7px;
  justify-content: space-between;
  position: relative;
  min-height: 45px;
  
  &[tabindex] {
    cursor: pointer;

    &:hover, &:focus {
      background-color: var(--ivory);
      outline: none;
    }
  }
}

.alert {
  --size: 12px;
  display: inline-block;
  text-align: center;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  color: white;
  background-color: rgb(185, 0, 0);
  vertical-align: middle;
  border-radius: 50%;
  font-size: 10px;
}

.status {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &.online {
    background-color: green;
  }
  &.offline {
    background-color: red;
  }
  &.kicked-out {
    background-color: rgb(0, 0, 0);
  }
  &.deleted {
    background-color: rgb(85, 85, 85);
  }
}

chat-button {
  width: 40px;
  margin-left: 15px;
  font-size: 0.8em;
}