<div class="container" [style.border-left-color]="user.color" [attr.tabindex]="type === 'whisper' ? 0 : null"
(click)="onSelect()" (keydown.enter)="onSelect()">
  <span class="nick">
    {{user.nick}}
    <span class="alert" *ngIf="type === 'whisper' && user.unreadMessages">!</span>
  </span>
  <span class="actions">
    <span class="status {{user.status}}" [title]="user.status"></span>
    <chat-button *ngIf="type === 'manage'" (click)="onKickout($event)" [disabled]="user.status === userStatusEnum.KickedOut"
    [loading]="loading">
      <fa-icon *ngIf="!loading" icon="user-times"></fa-icon>
    </chat-button>
  </span>
</div>
