:host {
  padding: 4px;
  max-width: 80%;
  text-align: left;
  position: relative;

  &.own {
    align-self: flex-end;
    text-align: right;
  }
  &.continue {
    padding-top: 0;

    .msg-author {
      display: none;
    }
  }

  & > * {
    max-width: 500px;
  }
}

.msg-body {
  display: inline-block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1.2em;
  background-color: goldenrod;
  border-radius: 5px;
  padding: 7px;
  z-index: 1;
  position: relative;
  transition: 0.1s;

  &:focus {
    opacity: 0.9;
    outline: none;
    margin-bottom: 1em;

    & + .date {
      bottom: 4px;
      opacity: 1;
      transition: bottom 0.1s, opacity 0.05s 0.05s;
    }
  }
}

.msg-author {
  color: #ddd;
  font-size: 0.95em;
}

.date {
  transition: bottom 0.1s 0.05s, opacity 0.05s;
  display: block;
  position: absolute;
  bottom: 1.3em;
  font-size: 0.8em;
  width: calc(100% - 8px);
  color: rgb(199, 199, 199);
  opacity: 0;
  min-width: 116px;
}
:host.own .date {
  right: 0;
}