<ng-container *ngIf="!continue"><span class="msg-author">{{data.author}}</span><br></ng-container>
<div class="msg-body" [style.backgroundColor]="color" tabindex="-1">{{data.text}}</div>
<span class="date">
  {{data.date | date:'MM/dd/yy, HH:mm'}}
</span>
