<h2>{{type === 'whisper' ? 'Select user' : 'Manage users'}}</h2>
<button class="cross" (click)="close.next()">
  <fa-icon icon="times"></fa-icon>
</button>
<div class="users">
  <chat-user [user]="user" *ngFor="let user of users | async" (select)="onSelect(user.nick)"
  (kickout)="onKickout(user.nick)" [type]="type"></chat-user>
  <p class="no-user" *ngIf="!(users | async).length">No other user in the room</p>
</div>