<h2>Room settings</h2>
<form [formGroup]="form" (submit)="onSubmit()">
  <chat-input placeholder="Tab name" formControlName="tabName"></chat-input>
  <label>Scroll down on messages received<input type="checkbox" formControlName="scroll"></label>
  <label>Message received sound<input type="checkbox" formControlName="sound"></label>
  <label>Flash icon on message received<input type="checkbox" formControlName="blink"></label>
  <h3>Use alternative icon</h3>
  <div class="icons">
    <label *ngFor="let icon of icons"><input type="radio" formControlName="icon" [value]="icon" >
      <img src="assets/icons/{{icon}}.ico" [alt]="icon">
    </label>
  </div>
  <chat-button>Save</chat-button>
</form>