@import '../dialog-styles';

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  chat-input {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  & > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
}

h3 {
  font-weight: normal;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  label {
    input {
      display: none;

      &:checked ~ img {
        outline: 2px solid var(--ivory);
      }
    }

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}

chat-button {
  margin-top: 10px;
}