<form [formGroup]="form" (submit)="onSubmit()">
  <textarea rows="1" formControlName="message" (keydown.control.enter)="onSubmit()"></textarea>
  <chat-button [disabled]="!form.valid">
    <span class="text">Send</span>
    <fa-icon class="icon" icon="paper-plane"></fa-icon>
  </chat-button>
</form>
