:host {
  display: flex;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
}

textarea {
  flex-basis: 100%;
  resize: vertical;
  min-height: 40px;
  padding: 5px 7px;
  line-height: 1.2em;
  outline: none;
  z-index: 0;
  transition: 0.2s;
  font-size: 0.9em;

  &.ng-valid:focus {
    min-height: 60px;
  }
}

chat-button {
  margin: 2.5px 8px;

  @media screen and (max-width: 400px) {
    width: 50px;

    .text {
      display: none;
    }
  }
  @media screen and (min-width: 401px) {
    .icon {
      display: none;
    }
  }
}