:host {
  display: block;
  background-color: teal;
  color: white;
  box-shadow: 0 0 3px 0px #00000080;
  padding: 15px;
  min-width: 310px;
  width: 40%;
  max-width: 520px;
  border-radius: 3px;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
button:hover {
  text-decoration: underline;
}
chat-button {
  margin-left: 5px;
}
chat-button, button {
  font-size: 0.9rem;
}

button.cross {
  position: absolute;
  top: 3px;
  right: 1px;
  border: none;
  background: transparent;
  font-size: 12px;
  opacity: 0.8;
  transition: 0.1s;

  &:hover, &:focus {
    outline: none;
    opacity: 1;
  }
}