<div class="outlet">
  <router-outlet></router-outlet>
</div>
<chat-overlay *ngIf="overlayOpen$ | async"
[style.zIndex]="overlayZIndex$ | async"
[style.opacity]="overlayOpacity$ | async"></chat-overlay>
<chat-loading-overlay *ngIf="loadingOverlayOpen$ | async"></chat-loading-overlay>