button {
  display: block;
  background-color: white;
  color: black;
  padding: 7px 18px 7px 9px;
  position: relative;
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 1em;
  text-align: inherit;

  &:hover, &:focus {
    background-color: var(--ivory);
    outline: none;
  }
}

:host:not(:last-child) button {
  border-bottom: 1px solid var(--ivory);
}

.alert {
  --size: 16px;
  display: inline-block;
  text-align: center;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  color: white;
  background-color: rgb(185, 0, 0);
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: calc(var(--size) / -2);
  border-radius: 50%;
  font-size: calc(var(--size) * 3 / 4);
}