<header [class.whisper]="whisperingTo" [style.background-color]="whisperingTo?.color">
  <button class="close" *ngIf="whisperingTo; else dash" (click)="closePrivateConvo.next()"><fa-icon icon="times"></fa-icon></button>
  <ng-template #dash>
    <a class="close" routerLink="/dash"><fa-icon icon="arrow-left"></fa-icon></a>
  </ng-template>
  {{ title }}
  <ng-container *ngIf="whisperingTo">
    <fa-icon class="arrow" icon="angle-right"></fa-icon>
    {{ whisperingTo.nick }}
  </ng-container>
</header>