header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;

  &.whisper {
    position: relative;
    padding: 0 40px;
  }
  &:not(.whisper) {
    animation: changeColor 40s linear infinite;
  }
}

.close {
  background: transparent;
  border: none;
  position: absolute;
  left: 13px;
  color: inherit;
  font-size: 18px;
  cursor: pointer;
}

.arrow {
  margin: 0 4px;
}