:host {
  display: inline-block;
  width: 105px;
}
button {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--ivory);
  width: 100%;
  color: gray;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  font-size: 1em;

  &:not(:disabled) {
    cursor: pointer;
    font-weight: bold;
    color: black;

    &:hover, &:focus {
      outline: none;
      background-color: #dbdbdb;
    }
    &:active {
      background-color: #c5c5c5;
    }
  }
}

fa-icon {
  margin-right: 3px;
}