:host {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

chat-chat-container {
  flex-basis: 100%;
}

chat-message-input {
  flex-basis: 100%;
}