<chat-top-bar [title]="roomID$ | async" [whisperingTo]="whisperingTo$ | async"
(closePrivateConvo)="closePrivateConvo()"></chat-top-bar>
<chat-chat-container>
  <ng-container *ngFor="let message of messages$ | async as msgs; let i = index">
      <chat-message [data]="message" *ngIf="isMessage(message); else notif"
      [own]="message.author === (me$ | async)"
      [continue]="i > 0 && msgs[i - 1].author === message.author"
      ></chat-message>
      <ng-template #notif>
        <chat-notification [data]="message"></chat-notification>
      </ng-template>
  </ng-container>
</chat-chat-container>
<chat-bottom-bar [whisperingTo]="whisperingTo$ | async">
  <chat-kebab-menu>
    <chat-kebab-menu-item (click)="shareRoom()">Share room code</chat-kebab-menu-item>
    <chat-kebab-menu-item (click)="showWhisperDialog()" [alert]="unreadUserCount$ | async">Whisper</chat-kebab-menu-item>
    <chat-kebab-menu-item (click)="showLock()">Room lock</chat-kebab-menu-item>
    <chat-kebab-menu-item (click)="manageUsers()" *ngIf="isAdmin$ | async">Manage users</chat-kebab-menu-item>
    <chat-kebab-menu-item (click)="openSettings()">Personal room settings</chat-kebab-menu-item>
  </chat-kebab-menu>
  <chat-message-input (sendMessage)="sendMessage($event)"></chat-message-input>
</chat-bottom-bar>