<h2>Room lock</h2>
<button class="cross" (click)="close.next()">
  <fa-icon icon="times"></fa-icon>
</button>
<form [formGroup]="form" (submit)="onSubmit()">
  <div class="input-container">
    <chat-input formControlName="passphrase" [value]="lock" placeholder="No lock"
    [type]="showPassphrase ? 'text' : 'password'"></chat-input>
    <chat-button (click)="showPassphrase = !showPassphrase" [submit]="false">
      <fa-icon [icon]="showPassphrase ? 'eye-slash' : 'eye'"></fa-icon>
    </chat-button>
  </div>
  <chat-button [loading]="loading">Save</chat-button>
</form>