@import '../dialog-styles';

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;

    chat-input {
      flex-basis: 100%;
    }
    chat-button {
      width: 50px;
      margin-left: 8px;
    }
  }
}