:host {
  font-size: 0.85em;
  color: #acacac;
  margin-top: 11px;
}

.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-right: 0.3em;
}