<h2>Share room ID</h2>
<button class="cross" (click)="close.next()">
  <fa-icon icon="times"></fa-icon>
</button>
<chat-input [value]="link" [readonly]="true"></chat-input>
<chat-button (click)="onCopy()">Copy to clipboard</chat-button>