* {
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(187, 187, 187, 0.8);
    border-radius: 2.5px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: var(--ivory);
}

:root {
  --ivory: rgb(235, 235, 235);
  --max-width: 1200px;
}

@keyframes changeColor {
  0%   {background-color: Purple;}
  16.66%  {background-color: Teal;}
  33.33%  {background-color: MediumPurple;}
  50% {background-color: Indigo;}
  66.66%   {background-color: CadetBlue;}
  83.33%  {background-color: Orchid;}
  100% {background-color: Purple;}
}
