form {
  display: flex;
  border-radius: 4px;
  background-color: purple;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
}

chat-input {
  margin: 38px auto 20px;
  width: 80%;
}

chat-button {
  margin-bottom: 10px;
  font-size: 0.9em;
}