<form [formGroup]="form" (submit)="onSubmit()">
  <h3>Join room</h3>
  <chat-input placeholder="Room ID" formControlName="seed"></chat-input>
  <chat-button [disabled]="!form.valid">Join</chat-button>
</form>
